# --- Core del proyecto web ---
Django==5.2.6
djangorestframework
django-filter
gunicorn
whitenoise

# --- Ciencia de datos / ML ---
numpy
pandas
scikit-learn
joblib
tensorflow
tensorflow-cpu # o tensorflow-cpu si prefieres
shap
